/* body
{
background-image: url("main.jpg");
background-repeat: no-repeat;
background-position: right top;
} */
html, body {
  height: 80%;
  margin:0.2%;
}

/* ........................header............*/
#twitter{
  width:11%;
}

.customers{

  display:none;
  }
.B{
  width:26px;
  height:2px;
  background-color: black;

  margin: 6px 0;
}
  .dropbtn {




    border: none;
    cursor: pointer;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {

    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 250%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
  color: black;

    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {

  }
  .menu {
  background-color:RGB(255, 240, 241);
    /* border-style: solid;
    border-radius: 10px; */
    display: inline-flex;
    width: 100%;
    max-width:100%;
  }
  .logos{
      width:90%;
      max-width: 90%;
      padding-top:1%;
      float:right;

    }
    .logo{
      float: right;
      padding-right:2.5%;
      width: 8%;


    }
/* ........................main top block ............*/
.container{
  width:100%;
  height:70%;
  /*height:640px;*/
  background-color:white;

}
.inner{

position:relative;
top:53%;
left:15%;
z-index:1;
font-size: 5vw;
  width:20%;


}
#main{
display:none;
}
#main11{
  position: relative;
  left:25%;
  width:70%;
  display:block;
  top:-18%;

}
#hello{

  margin:0;
  display: block;

}
#line{

 margin:0;
  height:2px;;
  width:30%;
  background-color: black;
}

/* .......................marching block...........................*/
.mid{
  background-color: RGB(217, 126, 80);

  background-image: url("design.png");
  background-repeat:no-repeat;
  background-position:right;

}
  #march{
     font-size:3vw;
     font-style: italic;
     box-sizing: border-box;
     padding:3%;

   }
  /* ........................Bottom block..................................*/
  .bottom{
    width:100%;
    height:70%;
    display: inline-block;
}
  .bottom1{
  width:35%;

  font-size: 2vw;
  display:inline-block;
  position: relative;
  top:-60%;
  left:60%;


  }
  .bottom2{
  height:100%;
  width:100%;
  margin: auto;

}
  .main2 {
    width: 70%;
    display: inline-block;

  }

  /* ...........................footer.......................................*/
  .foot{
    background-color: RGB(217, 126, 80);
    background-image: url("design.png");
    background-repeat:no-repeat;
    background-position:center;

    height:12%;


  }
  .good{
    position: relative;
    top:30%;
    display:block;
    margin:auto;
    font-size: 2vw;
    width:10%;
    background-color:black;
  }

  /* ......................................................................*/



.front{
  height:700px;
}



.para{
  display: inline-block;
    position:relative;
   bottom:70px
}

  .wing {
  width: 44%;
  display: inline-block;
}
.wings{
  width:50%;
  margin:auto;
  padding-top:100px;
}
